@use "../../styles/colors" as *;
@use "../../styles/responsiveness" as *;

.beer{
    //border: 2px solid red;
    display: flex;
    flex-direction: column;
    height: 100%;
    .top{
        //border: 2px solid red;
        width: 100%;
        height: 50%;
        @include mobile{
            margin-bottom: 1em;
        }
        .name{
            //border: 2px solid red;
            font-size: 64px;
            margin: 0;
            margin-bottom: .2em;
            font-weight: bold;
            color: $black;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            @include mobile{
                font-size: 3em;
            }
        }
        .containerPills{
            //border: 2px solid red;
            display: flex;
            gap: 1em;
            .pill{
                border: 2px solid $black;
                background-color: $orange;
                width: 100px;
                border-radius: 18px;
                padding: .5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: $white;
                font-size: .85rem;
                cursor: help;
                position: relative;
                @include mobile{
                    width: 100%;
                    padding: .25em;
                }
            }
            .tooltip{
                position: absolute;
                bottom: -35px;
                left: 50%;
                background-color: $black;
                color: $orange;
                padding: .8em;
                z-index: 10;
                max-width: 200px;
                width: max-content;
                border-radius: 6px;
                @include mobile{
                    font-size: .65rem;
                    padding: .35em;
                    max-width: 100px;
                    left: 0;
                }
            }
        }
    }
    .bottom{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .description{
            display: flex;
            gap: 1em;
            color: $black;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            .title{
                //border: 2px solid red;
                font-weight: 500;
            }
            .content{
                font-weight: 200;
                //border: 2px solid red;
            }
        }
        .stars{
            align-self: flex-end;
            margin-bottom: 1em;
            @include mobile{
                align-self: center;
                margin-bottom: 0;
            }
        }   
    }
}   